server:
  port: 8080
  servlet:
    context-path: /api/v2

spring:
  application:
    name: tech-challenge
  datasource:
    url: ${DATASOURCE_URL:jdbc:h2:mem:testdb}
    username: ${DATASOURCE_USERNAME:sa}
    password: ${DATASOURCE_PASSWORD:password}
    driverClassName: ${DATASOURCE_DRIVER_CLASS_NAME:org.h2.Driver}
  jpa:
    show-sql: false
    hibernate:
      ddl-auto: update
      dialect: ${JPA_DIALECT}
  h2:
    console:
      enabled: true
      path: /h2-console
